[user]
	email = guojun.huang@qq.com
	name = guojun.huang
[core]
	editor = vim
[diff]
	tool = vimdiff
[difftool]
	prompt = No
[pull]
	rebase = true
[rebase]
	autoStash = true
[commit]
	template = /home/hgj/.git-commit-template
